<div class="product-container">
  <img src="{{ product.url }}" class="product-image" />
  <div class="product-info">
    <h3>{{ product.name }}</h3>
    <p>${{ product.price }}</p>
    <p>{{ product.description }}</p>
    <select
      class="form-select select-input"
      aria-label="Default select example"
    >
      <option selected value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="3">4</option>
      <option value="3">5</option>
      <option value="3">6</option>
      <option value="3">7</option>
      <option value="3">8</option>
      <option value="3">9</option>
      <option value="3">10</option>
    </select>
    <button class="btn btn-primary mb-1">Add to cart</button>

    <a href="/">&larr;Back to product list</a>
  </div>
</div>
